*{
margin: 0;
padding:0;
}
.slide-container{
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
width: 97%;
}
.min, .max{
    width: 4vh;
    text-align: center;
    font-size: 3em;
}
.slide-wraper{
    max-width: 90vw;
    width: 100%;
    height: 100%;
    text-align: center;
    background:rgba(95,95,95,0.5);
    padding-top: 4vh;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 4px 5px black;
}
.slide{
    width: 96%;
}
.attention{
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    font-size: 2vw;
}
#start{
    margin: 2vh auto;
    display: block;
    width: 8vw;
    height: 5vh;
    font-size: 3.5vh;
    border-radius: 10px;
}
.plus_minus{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.plus , .minus{
    font-size: 3vw;
    text-decoration: none;
    color:red;
    font-weight: bold;
    margin-inline: 5vw;
}
.minus:hover, .plus:hover{
    color: rgb(0, 128, 0);
}
a:visited{
    color:red;
}
.diapason{
    width: 100%;
    text-align: center;
    margin-top: 1.5vh;
    font-size: 2vw;
    font-style: italic;
}
.tries_group{
   display: flex;
   justify-content: center; 
}
input[name="tries"]{
    margin: 1vw;
}
label {
    margin-block: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
}